.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #ecf5f9;
    background-image: url("https://images.pexels.com/photos/269140/pexels-photo-269140.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
}

.headingComponent {
    margin-top: 2.2rem;
    text-align: center;
    grid-column: 1/-1;
}

.pageTitle {
    color: #196db6;
    font-weight: 700;
    font-size: 1.7rem;
}

.pageDiscription {
    color: #505A64;
    font-size: 1.2rem;
    margin: 1.1rem 0;
    padding: 0 2rem;
    font-weight: normal;
}

.about {
    color: #505A64;
    font-size: 1.3rem;
    margin: 2rem 0;
    grid-column: 2/3;
    text-align: center;
    height: 100vh;
}

@media screen and (min-width: 968px) {
    .headingComponent {
        margin-top: 5rem;
        grid-column: 2/3;
    }
    .pageTitle{
        font-size: 54px;
        font-weight: 700;
    }
    .pageDiscription {
        font-size: 24px;
    }
}