.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #d8ecf5;
  background-image: url("https://images.pexels.com/photos/269140/pexels-photo-269140.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
}

.headingComponent {
  margin-top: 2.2rem;
  text-align: center;
  grid-column: 1/-1;
}

.pageTitle {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.7rem;
}

.pageDiscription {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 1.1rem 0;
  padding: 0 2rem;
  font-weight: normal;
}

.searchBar {
  font-size: 1rem;
  padding: 0.7rem 0;
  width: 70%;
  margin: 1rem;
  border: 3px solid #b3c0ce;
  transition: 0.4 ease-out;
  text-align: center;
  color: #505a64;
}

.searchBar:hover {
  border: 3px solid #196db6;
}

@media screen and (min-width: 968px) {
  .headingComponent {
    margin-top: 5rem;
    grid-column: 2/3;
  }
  .pageTitle {
    font-size: 54px;
    font-weight: 700;
  }
  .pageDiscription {
    font-size: 24px;
  }
}
