.container {
  display: flex;
  flex-direction: column;
  background-color: #d8ecf5;
  background-image: url("https://images.pexels.com/photos/269140/pexels-photo-269140.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  height: 110vh;
}

.card {
  width: 500px;
  max-width: 85vw;
}

.card > img {
  width: 100%;
  border-radius: 20px;
}

.body {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.swipe {
  position: absolute;
}

.button {
  background-color: #196db6;
  padding: 12px 20px;
  color: #fff;
  border-radius: 2px;
  margin: 1rem 0;
  font-size: 0.7rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
